body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border: 1px solid black;
}

.question{
    width: 600px;
    background-color: rgb(67, 77, 95);
    padding: 40px 25px;
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 20px;
}

.answer{
    width: 600px;
    background-color: rgb(67, 77, 95);
    padding: 35px 20px;
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 20px;
}

.controlPanel{
    width: 600px;
    background-color: rgb(67, 77, 95);
    padding: 35px 20px;
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 20px;
}